<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lolgamequiz.my"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="false" >
        <activity
            android:name="com.lolgamequiz.my.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.ads.AdActivity" android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.GameActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.SkillGameModelPickerActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.HeroGameModePickerActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.SkillQuizActivityNorRepead"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.HeroQuizActivityNorRepead"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.SkillQuizActivityDeathMatch"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.HeroQuizActivityDeathMatch"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.GameOverActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.GameWinActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.ScoreBoardActivity"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.TabActivitySkillDeathMatch"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.TabActivitySkillSingleRandom"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.TabActivityHeroDeathMatch"
        android:screenOrientation="portrait">
    </activity>

    <activity android:label="@string/app_name"
        android:name="com.lolgamequiz.my.TabActivityHeroSingleRandom"
        android:screenOrientation="portrait">
    </activity>

    </application>

</manifest>
